body {
    background-image: url("../images/interlaced.png");
    padding: 0;
    margin: 0%;

}

nav {
    width: 100%;
    background-color: white;
    overflow: auto;
    border-bottom: 1px solid #cccccc;
}


nav ul {
    list-style-type: none;
    text-align: center;
    line-height: 25px;
    margin-left: 35%;
}

nav ul li {
    display: inline;
}

nav li a {
    color: #777777;
    padding: 12px;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif

}

h1 {
    position: absolute;
    margin-top: 0px;
    margin-left: 25%;
    color: white;
    background-color: #4aaaa5;
    width: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
    padding: 16px 16px 16px 16px;

}

.main {
    background-color: white;
    width: 50%;
    height: 400px;
    margin: 30px 50px 30px 25%;
    padding: 20px;
    position: absolute;
    border: 1px solid #dddddd;

}

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 20px;

}

img {
   margin-right: 15px;
   margin-bottom: 10px;
}

p {
    line-height: 25px;
}

.contactform {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #777777;
}

#name {
    width: 90%;
}

#email{
    width: 90%;
}

#message{
    width: 90%;
}

#submit{
    position: absolute;
    color: white;
    background-color: #4aaaa5;
    width: fit-content;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 5px 5px 5px;
}
  

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}
   


